<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        <title>{{ .Title }}</title>
        <style>
            body {background-color: #8C443C;
                   }
                </style>
        
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova+Slim|Nova+Mono" />
<style> html {font-family: 'Nova Slim', cursive; } </style>
<style> body {font-family: 'Nova Slim', cursive; } </style>
<style> h1 {font-family: 'Nova Slim', cursive; } </style>
<style> h2 {font-family: 'Nova Slim', cursive; } </style>
<style> h3 {font-family: 'Nova Slim', cursive; } </style>
<style> h4 {font-family: 'Nova Slim', cursive; } </style>
<style> h5 {font-family: 'Nova Slim', cursive; } </style>
<style> h6 {font-family: 'Nova Slim', cursive; } </style>
<style> pre {font-family: 'Nova Mono', monospace; } </style>
<style> code {font-family: 'Nova Mono', monospace; } </style>
        
    </head>
    <body>
        <div class="section" id="splash">

            {{ if .Site.Params.mainMenu }}
                {{ range .Site.Params.mainMenu }}
                    <div class="big-link">
                        <a href="{{.link}}">
                            {{.text}}
                        </a>
                    </div>
                {{ end }}

            {{ else }}
                {{ range .Site.Sections }}
                    <div class="big-link"> 
                        <a href="{{.Permalink}}">
                            {{.Title}}
                        </a>
                    </div>
                {{ end }}
            {{ end }}
            
        </div>
    </body>
</html>
