<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        <title>{{ .Title }}</title>
        <style>
            background: url("//cache0.bigcartel.com/theme_assets/91/1.3.1/images/overlay_pattern.png");

    background-repeat: repeat;
    background-size: auto;

background-repeat: repeat;

background-size: 4px;

height: 100%;

position: absolute;

top: 0;

width: 100%;

z-index: 100;
        </style>
    </head>
    <body>
        <div class="section" id="splash">

            {{ if .Site.Params.mainMenu }}
                {{ range .Site.Params.mainMenu }}
                    <div class="big-link">
                        <a href="{{.link}}">
                            {{.text}}
                        </a>
                    </div>
                {{ end }}

            {{ else }}
                {{ range .Site.Sections }}
                    <div class="big-link"> 
                        <a href="{{.Permalink}}">
                            {{.Title}}
                        </a>
                    </div>
                {{ end }}
            {{ end }}
            
        </div>
    </body>
</html>
